.card {
    border-radius: 25px;
    border: 0px;
    background-color: lightsteelblue;
    text-align: center;
    float: left;
    margin: 15px;
    overflow: auto;
    width: 250px;
    height: 400px;
    transition: 0.5s;
}
.card:hover {
    transform: scale(1.1);
    box-shadow: 5px 3px 4px black;
}
h2 {
    color: whitesmoke;
}